main {
  overflow: auto;
}

.main-table {
  border: 1px solid black;
  width: 80%;
  empty-cells: show;
  border-collapse: collapse;
  table-layout: fixed;
}

.table-header, .roll-points, .frame-points {
  border: 1px solid black;
  text-align: center;
  height: 1.2em;
}