@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bungee+Shade&display=swap');

body {
  background-color: #FEC547;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #02ac79;
  font-family: 'Bungee Shade', cursive;
}

ul {
  list-style: none;
}

li {
  display:inline-block;
  padding-right: 20px;
}

.orange {
  color: #FD4E00;
}

.table-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-table {
  font-family: 'Abril Fatface', cursive;
  color: white;
  border: solid 3px #FEC547;
  width: 90%;
  empty-cells: show;
  border-collapse: collapse;
  table-layout: fixed;
}

.table-header, .roll-points, .frame-points {
  background-color: #FD4E00;
  border: solid 3px #FEC547;
  text-align: center;
  height: 2em;
}

.roll-points {
  background-color: #02ac79;
}

.total-points {
  font-size: 1.2em;
  background-color: #FD4E00;
  text-align: center;
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#submit-button {
  font-family: 'Abril Fatface', cursive;
  color: white;
  background-color: #02ac79;
  border: none;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

#pins-input {
  height: 30px;
  width: 70px;
  border: none;
  font-family: 'Abril Fatface', cursive;
}